extends ../layout

block content
  h2 API Examples
  hr

  .row
    .col-sm-4
      a(href='/api/github', style='color: #fff')
        .panel.panel-default(style='background-color: #000')
          .panel-body
            img(src='http://i.imgur.com/2AaBlpf.png', height=40)
            |  GitHub
    .col-sm-4
      a(href='/api/twitter', style='color: #fff')
        .panel.panel-default(style='background-color: #00abf0')
          .panel-body
            img(src='http://i.imgur.com/EYA2FO1.png', height=40)
            |  Twitter
    .col-sm-4
      a(href='/api/facebook', style='color: #fff')
        .panel.panel-default(style='background-color: #3b5998')
          .panel-body
            img(src='http://i.imgur.com/jiztYCH.png', height=40)
            |  Facebook
    .col-sm-4
      a(href='/api/twilio', style='color: #fff')
        .panel.panel-default(style='background-color: #fd0404')
          .panel-body
            img(src='http://i.imgur.com/mEUd6zM.png', height=40)
            |  Twilio
 
